code {
    color: rgb(211, 210, 210);
}

.purple {
    color: rgb(223, 131, 223);
}

.blue {
    color: rgb(33, 170, 220);
}

.bracket {
    color: yellow;
}

.inner-brckt {
    color: rgb(235, 64, 235);
}

.key {
    color: rgb(111, 222, 185);
}

.number {
    color: orange;
}

.string {
    color: rgb(128, 218, 128);
}

.punctuation {
    color: rgb(100, 228, 228);
}

.variable {
    color: rgb(188, 87, 188);
    font-style: italic;
}

.operation {
    color: rgb(126, 126, 235);
}

.comment {
    color: rgb(141, 138, 138);
    font-style: italic;
}