.purple {
    color: rgb(205, 121, 205);
}

.bracket {
    color: yellow;
}

.inner-brckt {
    color: rgb(235, 64, 235);
}

.number {
    color: orange;
}

.punctuation {
    color: rgb(33, 186, 186);
}

.variable {
    color: rgb(188, 87, 188);
    font-style: italic;
}

.operation {
    color: rgb(145, 145, 239);
}

.comment {
    color: rgb(141, 138, 138);
    font-style: italic;
}