* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    font-size: 20px;
}

body {
    background-color: rgb(218, 218, 92);
    font-family: 'Poppins', sans-serif;
}

/* universal-classes starts */

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
}

/* universal-classes ends */

.header-content {
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 50px;
    color: rgb(218, 218, 92);
    width: 100vw;
    min-height: 200px;
    background-color: black;
}

.introduction {
    margin-top: 50px;
}

.introduction-content {
    width: 80%;
    margin: 50px;
}

.for-section {
    background-color: black;
}

.for {
    color: white;
    margin-top: 50px;
}

.for-content {
    color: white;
    width: 80%;
    margin: 50px;
}

.footer-section {
    background-color: rgb(38, 39, 41);
    display: block;
}

.footer-content {
    background-color: rgb(38, 39, 41);
    color: white;
    width: 80%;
    min-height: 80px;
    margin: 50px 50px 0 0;
    padding: 2rem;
    text-align: center;
}

