* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    font-size: 20px;
}

html {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: rgb(218, 218, 92);    
}

h2 {
    font-size: 2rem;
}

body {
    background-color: rgb(218, 218, 92);
    
}

header {
    width: 100vw;
    min-height: 200px;
    background: black;
}

nav {
    width: 100vw;
    height: 50px;
    background-color: black;
}

ul {
    list-style-type: none;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(38, 39, 41);
    display: block;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#introduction {
    margin-top: 50px;
}

.introduction-content {
    width: 80%;
    margin: 50px;

}

#for-section {
    background-color: black;
}

#for {
    color: white;
    margin-top: 50px;
}

.for-content {
    color: white;
    width: 80%;
    margin: 50px;
}

#while {
    margin-top: 50px;
}

.while-content {
    width: 80%;
    margin: 50px;
}

#do-while-section {
    background-color: black;
}

#do-while {
    color: white;
    margin-top: 50px;
}

.do-while-content {
    color: white;
    width: 80%;
    margin: 50px;
}

.footer-content {
    background-color: rgb(38, 39, 41);
    color: white;
    width: 80%;
    min-height: 80px;
    margin: 50px 50px 0 0;
    padding: 2rem;
    text-align: center;
}

