* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(218, 218, 92);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* ================================== */

/* universal-classes starts */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    padding: 25px;
    text-align: center;
}

.background-black {
    background-color: black;
    color: white;
}

.code {
    min-width: 400px;
    height: 300px;
    margin: 2rem;
    background-color: rgb(67, 67, 67);
    border: 5px solid gray;
    border-radius: 20px;
    color: black;
}

.underline-black::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.underline-white::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.underline-black:hover::after, .underline-white:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
}

/* universal-classes ends */

/* ================================== */

/* header section starts */

.header {
    background-color: black;
    width: 100%;
    min-height: 200px;
}

.header-content {
    color: rgb(218, 218, 92);
    text-align: center;
    padding: 80px;
}

/* header section ends */

/* ================================== */

/* introduction section starts*/

.introduction {
    padding: 2.5rem;
}

.introduction h2 a {
    display: inline-block;
    position: relative;
    color: black;
}

.introduction-content {
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-div {
    border: 1px solid black;
    margin: 50px;
}

.nav-content {
    list-style-type: none;
    
}

.nav-content li {
    font-size: 1.4rem;
}

.nav-content li a {
    display: block;
    height: 60px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: black; 
    transition: 0.5s;
    
}

.nav-content li a:hover {
    background-color: black;
    color: white;
}

.introduction-text {
    width: 750px;
    padding: 50px;
    font-size: 1.1rem;
}

.information {
    background: linear-gradient(to right bottom, rgba(112, 168, 85), rgba(67, 142, 69));
    color: white;
    padding: 25px;
    border: 5px solid rgb(119, 202, 134);
    width: 50vw;
    margin: 3.1rem auto 3.1rem auto;
    border-radius: 30px;
}

/* introduction section ends*/

/* ================================== */

/* for section starts */

.for {
    padding: 2.5rem;
}

.for h2 a {
    display: inline-block;
    position: relative;
    color: white;
}

.for-content {
    flex-direction: column;
    width: 75vw;
    margin:  3rem auto;
    padding: 25px;
}

.for-text {
    padding: 25px;
}

.for-of-text {
    margin: 9rem auto;
    padding: 25px;
}

.for-in-text {
    margin: 9rem auto;
    padding: 25px;
}

/* for section ends */

/* ================================== */

/* while section starts */

.while {
    padding: 2.5rem;
}

.while h2 a {
    display: inline-block;
    position: relative;
    color: black;
}

.while-content {
    flex-direction: column;
    width: 75vw;
    margin: 3rem auto;
    padding: 25px;
}

.while-text {
    padding: 25px;
}

.do-while-text {
    margin: 9rem auto;
}



/* while section ends */

/* ================================== */

/* break/continue classes starts */

.break-continue {
    padding: 3rem;
    flex-wrap: wrap;
}

.break-continue h2 a {
    display: inline-block;
    position: relative;
    color: white;
}

.break {
    flex-direction: column;
    width: 450px;
    margin:  3rem auto;
    padding: 20px;
}

.break-text {
    padding: 25px;
}

.continue {
    flex-direction: column;
    width: 450px;
    margin: 3rem auto;
    padding: 20px;
}

.continue-text {
    padding: 25px;
}

/* break/continue classes ends */

/* ================================== */

/* forEach section starts */

.forEach {
    padding: 2.5rem;
    margin: 2.5rem auto;
}

.forEach h2 a {
    display: inline-block;
    position: relative;
    color: black;
}

.forEach-content {
    flex-direction: column;
    width: 75vw;
    margin: 4rem auto;
    padding: 25px;
}

.forEach-text {
    padding: 25px;
}

/* forEach section ends */

/* ================================== */

/* map section starts */

.map {
    padding: 2.5rem;
}

.map h2 a {
    display: inline-block;
    position: relative;
    color: white;
}

.map-content {
    flex-direction: column;
    width: 75vw;
    margin: 4rem auto;
    padding: 25px;
}

.map-text {
    padding: 25px;
}

/* map section ends */

/* ================================== */

/* footer sections starts */

/*

.footer {
    background-color: rgb(38, 39, 41);
    display: block;
}

.footer-content {
    background-color: rgb(38, 39, 41);
    min-height: 80px;
    padding: 2rem;
    text-align: center;
}

*/

/* footer sections ends */

/* ================================== */

/* key frames starts */



/* key frames ends */


